
.payment-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.payment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.payment-header h1 {
  font-size: large;
}

.green-check-icon {
  color: green;
  font-size: 32px;
}

.red-check-icon {
  color: red;
  font-size: 32px;
}